@import '../../../scss/base/base';
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $whiteColor;
  text-align: center;
  border-radius: 8px;
}
.large {
  padding: 16px;
  font-size: 18px;
  line-height: 27px;

  font-weight: 700;
  background-color: $primaryColor;
}
.medium {
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  background-color: $primaryColor;
}
.small {
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  background-color: $primaryColor;
}
.outline {
  background-color: transparent;
  border-radius: 8px;
  border-color: $primaryColor;
  font-weight: 500;
  color: $primaryColor;
  text-align: center;
}
